{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image, button_label: section.settings.button_label %}
{% endcomment %}
<article class="article">
  {%- if show_image -%}
    <a
      class="article__img"
      href="{{ article.url }}"
      aria-label="article url">
      {%- if article.image -%}
        {{
          article.image 	 | image_url: width: 2000 	 | image_tag: 	loading: 'lazy',		widths: '560, 720, 1100, 1300, 1500, 1700, 2000'
        }}
      {%- endif -%}
    </a>
  {%- endif -%}
  <div class="article__content">
    {%- if show_tags and article.tags != blank -%}
      <ul class="article__tags article__tags-main-pag">
        {% for tag in article.tags %}
          <li class="article__tag">
            <a class="subtitle subtitle--secondary link-hover-line" href="{{ blog.url }}/tagged/{{ tag | handle }}">
              <span title="{{ tag }}">{{ tag }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {%- endif -%}
    <div class="article__info-block">
      {%- if article.title != blank -%}
        <h4 class="article__title">
          <a href="{{ article.url }}">{{ article.title | escape }}</a>
        </h4>
      {% else %}
        <h4 class="article__title">
          <a href="javasccript:;">
            {{- 'sections.featured_blog.onboarding_title' | t -}}
          </a>
        </h4>
      {%- endif -%}
      {%- if show_excerpt and article.excerpt != blank -%}
        <p class="article__excerpt">
          {{ article.excerpt | strip_html | truncate: 70 }}
        </p>
      {%- endif -%}
      <div class="article__info">
        <div class="subtitle--wrapper">
          {%- if show_date and article.published_at != blank -%}
            <span class="article__date">
              {{- article.published_at | time_tag: '%B %d, %Y' -}}
            </span>
          {%- endif %}
          {%- if show_author and article.author != blank -%}
            <span class="article__auther">{{- article.author -}}</span>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="article__button">
    <a class="cb__primary-button" href="{{ article.url }}">{{ button_label }}</a>
  </div>
</article>