{% comment %}
		Renders a product card
		Accepts:
		- product_card_product: {Object} Product Liquid object (optional)
		- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
		- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
		- show_vendor: {Boolean} Show the product vendor. Default: true
		- show_desc: {Boolean} Show the product vendor. Default: false
		- section_id: {String} The ID of the section that contains this card.
		Usage:
	{% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if settings.quickview_show -%}
	<link
		rel="preload"
		href="{{ 'section-main-product.css' | asset_url }}"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
	>
	<link
		rel="stylesheet"
		href="{{ 'component-deferred-media.css' | asset_url }}"
		media="all"
	>
	<link
		rel="preload"
		href="{{ 'quick-add.css' | asset_url }}"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
	>

	{%- assign first_3d_model = product_card_product.media
		| where: 'media_type', 'model'
		| first
	-%}
	{%- if first_3d_model -%}
		{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
		<link
			id="ModelViewerStyle"
			rel="stylesheet"
			href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
			media="print"
			onload="this.media='all'"
		>
		<link
			id="ModelViewerOverride"
			rel="stylesheet"
			href="{{ 'component-model-viewer-ui.css' | asset_url }}"
			media="print"
			onload="this.media='all'"
		>
	{%- endif -%}

	{%- if first_3d_model -%}
		<script type="application/json" id="ProductJSON-{{ product.id }}">
			{{ product_card_product.media | where: 'media_type', 'model' | json }}
		</script>
		<script src="{{ 'product-model.js' | asset_url }}" defer></script>
	{%- endif -%}
{%- endif -%}

<div
	class="card-wrapper js-color-swatches-wrapper"
	data-product="{{ product_card_product.handle }}"
>
	<span class="visually-hidden">{{ product_card_product.title | escape }}</span>

	<div class="card card--product" tabindex="-1">
		<div class="card__inner full-unstyled-link">
			{%- liquid
				assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

				if product_card_product.featured_media.aspect_ratio == null
					assign featured_media_aspect_ratio = 1
				endif
			-%}

			<div
				class="media media--transparent media--{{ media_size }} media--hover-effect"
				{%- if media_size == 'landscape' -%}
					style="padding-bottom: 70%;"
				{%- endif -%}
				{%- if media_size == 'portrait' -%}
					style="padding-bottom: 130%;"
				{%- endif -%}
				{%- if media_size == 'square' -%}
					style="padding-bottom: 100%;"
				{%- endif -%}
			>
				{%- if product_card_product.featured_media -%}
					{% assign fit = '' %}
					{% if media_fit == 'contain' %}
						{% assign fit = 'object-fit: contain;' %}
					{% endif %}
					{% if media_fit == 'cover' %}
						{% assign fit = 'object-fit: cover;' %}
					{% endif %}
					{%- capture sizes -%}
						(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
					{%- endcapture -%}
					{{
						product_card_product.featured_media
						| image_url: width: 1776
						| image_tag:
							loading: 'lazy',
							sizes: sizes,
							widths: '444, 888, 1332, 1776',
							class: 'motion-reduce media--first',
							style: fit,
							width: product_card_product.featured_media.width,
							height: product_card_product.featured_media.height
					}}
					{%- if product_card_product.media[1] != null
						and show_secondary_image
					-%}
						{%- capture sizes -%}
							(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
						{%- endcapture -%}
						{{
							product_card_product.media[1]
							| image_url: width: 1776
							| image_tag:
								loading: 'lazy',
								sizes: sizes,
								widths: '222, 444, 888, 1332, 1776',
								class: 'motion-reduce media--second',
								style: fit,
								width: product_card_product.media[1].width,
								height: product_card_product.media[1].height
						}}
					{%- endif -%}
				{%- else -%}
					{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
				{%- endif -%}
			</div>

			{%- if settings.quickview_show -%}
				<div class="quick-add no-js-hidden">
					{%- assign product_form_id = 'quick-add-'
						| append: section_id
						| append: product_card_product.id
					-%}
					<modal-opener data-modal="#QuickAdd-{{ product_card_product.id }}">
						<button
							id="{{ product_form_id }}-submit"
							type="submit"
							name="add"
							class="button button--secondary card__link"
							aria-haspopup="dialog"
							aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product_card_product.id }}"
							data-product-url="{{ product_card_product.url }}"
						>
							<span>{{- 'general.card.quick__view' | t -}}</span>
							<div class="loading-overlay__spinner hidden">
								<svg
									aria-hidden="true"
									focusable="false"
									role="presentation"
									class="spinner"
									viewBox="0 0 66 66"
									xmlns="http://www.w3.org/2000/svg"
								>
									<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
								</svg>
							</div>
							{% render 'icon-button-arrow' %}
						</button>
					</modal-opener>
					<quick-add-modal
						id="QuickAdd-{{ product_card_product.id }}"
						class="quick-add-modal"
					>
						<div
							role="dialog"
							aria-label="{{ 'products.product.choose_product_options' | t: product_name: product_card_product.title | escape }}"
							aria-modal="true"
							class="quick-add-modal__content global-settings-popup"
							tabindex="-1"
						>
							<button
								id="ModalClose-{{ product_card_product.id }}"
								type="button"
								class="quick-add-modal__toggle modal-close-button"
								aria-label="{{ 'accessibility.close' | t }}"
							>
								{% render 'icon-close' %}
								<span>{{ 'sections.header.close' | t }}</span>
							</button>
							<div class="quick-add-modal__content-wrapper">
								<div
									id="QuickAddInfo-{{ product_card_product.id }}"
									class="quick-add-modal__content-info"
								></div>
							</div>
							<div class="quick-add-modal__announcement-bar">
								{{ settings.quickview }}
							</div>
						</div>
					</quick-add-modal>
				</div>
			{%- endif -%}

			<div class="card__badge">
				{%- if product_card_product.available == false -%}
					<span
						class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
						aria-hidden="true"
					>
						{{- 'products.product.sold_out' | t -}}
					</span>
				{%- elsif product_card_product.compare_at_price
						> product_card_product.price
					and product_card_product.available
				-%}
					<span
						class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
						aria-hidden="true"
					>
						{{- 'products.product.on_sale' | t -}}
						{%- if settings.badge_sale_percentage -%}
							&nbsp; -
							{{
								product_card_product.compare_at_price
								| minus: product_card_product.price
								| times: 100
								| divided_by: product_card_product.compare_at_price
							-}}
							%
						{%- endif -%}
					</span>
				{%- endif -%}
			</div>
		</div>
		<a
			href="{{ product_card_product.url | default: '#' }}"
			class="link--overlay card-wrapper__link--overlay js-color-swatches-link"
			aria-label="link"
		></a>
	</div>

	<div class="card-information">
		<div class="card-information__wrapper">
			{%- if show_vendor -%}
				<span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
				{%- if product_card_product.vendor != blank -%}
					<div class="caption-with-letter-spacing subtitle subtitle--secondary">
						{{ product_card_product.vendor }}
					</div>
				{%- else -%}
					<div class="caption-with-letter-spacing subtitle subtitle--secondary">
						{{ 'products.product.vendor' | t }}
					</div>
				{%- endif -%}
			{%- endif -%}

			<div class="card__title">
				{%- if product_card_product.title != blank -%}
					<h5>
						<a
							href="{{ product_card_product.url | default: '#' }}"
							class="js-color-swatches-link"
							aria-label="link"
						>
							{{ product_card_product.title | escape }}
						</a>
					</h5>
				{%- else -%}
					<h5>{{ 'products.product.product_heading' | t }}</h5>
				{%- endif -%}
				<a
					href="{{ product_card_product.url | default: '#' }}"
					class="button button--simple js-color-swatches-link"
					aria-label="link"
				>
					{% render 'icon-button-arrow' %}
				</a>
			</div>

			{%- if show_desc and product_card_product.description != blank -%}
				<div class="card__description">
					{{ product_card_product.description | strip_html | truncate: 120 }}
				</div>
			{%- endif -%}

			<div class="product-parameters no-js-hidden">
				{%- unless product_card_product.has_only_default_variant -%}
					{%- for option in product_card_product.options_with_values -%}
						{% liquid
							assign color_trigger = settings.trigger_swatch | handle | strip
							assign name_option = option.name | handle | strip
						%}

						{% if settings.show_color_swatch and color_trigger == name_option %}
							<div class="product-form__controls js-color-swatches">
								<div class="product-form__controls-group">
									{% render 'product-variant-options',
										product: product_card_product,
										option: option,
										no_form_id: false
									%}
								</div>
							</div>
						{% endif %}
					{%- endfor -%}
				{% endunless %}
			</div>

			{% render 'price', product: product_card_product, price_class: '' %}
		</div>
	</div>
	<a
		href="{{ product_card_product.url | default: '#' }}"
		class="link link--overlay card-wrapper__link--overlay js-color-swatches-link card-product__link"
		aria-label="link"
	></a>

