{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign image_ratio = section.settings.image_ratio
-%}

{%- if image_ratio == 'adapt' -%}
  {%- style -%}
    #Banner-{{ section.id }} .banner__media::before {
         padding-bottom: {{ 1 | divided_by: section.settings.desktop_image.aspect_ratio | times: 100 }}%;
         content: '';
         display: block;
       }
  {%- endstyle -%}
{%- endif -%}

{% style %}
  {% render 'spaced-section' %}

  .banner__overlay {
    background-color: rgba(var(--color-overlay), {{ section.settings.opacity_overlay }});
  }

  #Banner-{{ section.id }} {
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    position: relative;
  }

  .banner__media img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .banner__media img.desktop {
      display: none;
    }
    .banner__media img.mobile {
      display: block;
    }
  }

  @media (min-width: 769px) {
    .banner__media img.mobile {
      display: none;
    }
    .banner__media img.desktop {
      display: block;
    }
  }
{% endstyle %}

<div class="image-banner {{ section.id }} {% if section.settings.full_width %}{% else %}container{% endif %}">
  <div id="Banner-{{ section.id }}" class="banner banner--{{ section.settings.image_ratio }} image--overlay color-background-3">
    {%- if section.settings.desktop_image != blank and section.settings.mobile_image != blank -%}
      <div class="banner__media">
        <img class="desktop" src="{{ section.settings.desktop_image | img_url: '1920x' }}" loading="lazy" alt="{{ section.settings.desktop_image.alt | escape }}" width="1920px" height="750px">
        <img class="mobile" src="{{ section.settings.mobile_image | img_url: '768x' }}" loading="lazy" alt="{{ section.settings.mobile_image.alt | escape }}" width="390px" height="547px">
        <span class="banner__overlay"></span>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Responsive Image Banner",
  "tag": "section",
  "class": "image-banner-section spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full Width"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay Opacity",
      "default": 0.5
    }
  ],
  "presets": [
    {
      "name": "Responsive Image Banner"
    }
  ]
}
{% endschema %}
