{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign image_ratio = section.settings.image_ratio
-%}

{%- if image_ratio == 'adapt' and section.settings.image_desktop != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}.image--overlay::before, 
    #Banner-{{ section.id }} .banner__media::before {
         padding-bottom: {{ 1 | divided_by: section.settings.image_desktop.aspect_ratio | times: 100 }}%;
         content: '';
         display: block;
       }
  {%- endstyle -%}
{%- elsif image_ratio == 'adapt' and section.settings.image_desktop == blank -%}
  {%- style -%}
    #Banner-{{ section.id }}.image--overlay::before, 
    #Banner-{{ section.id }} .banner__media::before {
         padding-bottom: 25%;
         content: '';
         display: block;
       }
  {%- endstyle -%}
{%- endif -%}

{% style %}
  {% render 'spaced-section' %}

  .banner__overlay {
    background-color: rgba(var(--color-overlay), {{ section.settings.opacity_overlay }});
  }

  #Banner-{{ section.id }} .cb__logo {
    height: 60px;
    margin-bottom: 1em;
  }

  #Banner-{{ section.id }} .cb__logo img {
    width: 100%;
    height: 100%;
  }

  #Banner-{{ section.id }} {
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    position: relative;
  }

  .{{ section.id }} {
    position: relative;
  }

  .{{ section.id }}::before,
  .{{ section.id }}::after {
    content: '';
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 130px;
    bottom: 0;
    z-index: 1;
  }

  .{{ section.id }}::after {
    top: 0;
  }

  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  @media (max-width: 500px) {
    .{{ section.id }}::before,
    .{{ section.id }}::after {
      height: 80px;
    }

    #Banner-{{ section.id }} .image-banner__wrapper {
      padding: 8em 1.5em;
    }

    #Banner-{{ section.id }} .banner__media {
      position: absolute;
      height: 100%;
    }

    #Banner-{{ section.id }} .cb__logo {
      height: 40px;
    }

    .desktop-image {
      display: none;
    }

    .mobile-image {
      display: block;
    }
  }
{% endstyle %}

<div class="{{ section.id }} image-banner {% if section.settings.full_width %}{% else %}container{% endif %}">
  <div
    id="Banner-{{ section.id }}"
    class="banner banner--{{ section.settings.image_ratio }} image--overlay {% if section.settings.full_width %}banner--container{% else %}{% endif %} {% if section.settings.image_desktop == blank %}banner--padding{% endif %} color-background-3"
  >
    {%- if section.settings.image_desktop != blank -%}
      <div class="banner__media media desktop-image">
        <img
          src="{{ section.settings.image_desktop | img_url: '1296x' }}"
          loading="lazy"
          alt="{{ section.settings.image_desktop.alt | escape }}"
          width="{{ section.settings.image_desktop.width }}"
          height="{{ section.settings.image_desktop.width | divided_by: section.settings.image_desktop.aspect_ratio }}"
          style="object-position: {{ section.settings.image_desktop.presentation.focal_point }}"
        >
        <span class="banner__overlay"></span>
      </div>
    {%- endif -%}

    {%- if section.settings.image_mobile != blank -%}
      <div class="banner__media media mobile-image">
        <img
          src="{{ section.settings.image_mobile | img_url: '750x' }}"
          loading="lazy"
          alt="{{ section.settings.image_mobile.alt | escape }}"
          width="{{ section.settings.image_mobile.width }}"
          height="{{ section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio }}"
          style="object-position: {{ section.settings.image_mobile.presentation.focal_point }}"
        >
        <span class="banner__overlay"></span>
      </div>
    {%- endif -%}

    <div class="image-banner__wrapper {% if section.settings.text_align != 'left' %}image-banner__column--center{% endif %} {% if section.settings.full_width %}container{% else %}{% endif %}">
      {%- if section.settings.logo_image != blank -%}
        <div class="cb__logo">
          <img
            src="{{ section.settings.logo_image | img_url }}"
            loading="lazy"
            alt="{{ section.settings.logo_image.alt | escape }}"
          >
        </div>
      {%- endif -%}
      
      <div class="image-banner__column">
        {%- if section.settings.heading != blank -%}
          <h2 class="image-banner__heading title--section title--decorate {% if section.settings.heading_size == 'medium' %}h2{% else %}h1{% endif %}">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}

        {%- if section.settings.text_information != blank or section.settings.button_label != blank -%}
          <div class="image-banner__information">
            {%- if section.settings.text_information != blank -%}
              <p class="image-banner__text">
                {{ section.settings.text_information | escape }}
              </p>
            {%- endif -%}

            {%- if section.settings.button_label != blank -%}
              <a
                {% if section.settings.button_link != blank %}
                  href="{{ section.settings.button_link }}"
                {% endif %}
                class="button image-banner__button button--primary-size button--{{ section.settings.button_style }}"
                {% if section.settings.button_link == blank %}
                  aria-disabled="true"
                {% endif %}
              >
                <span>{{- section.settings.button_label | escape -}}</span>
                {%- render 'icon-button-arrow' -%}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Responsive banner by Soda",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    }
  ]
}
{% endschema %}
