{{ 'section-carousel.css' | asset_url | stylesheet_tag }}

<script src="{{ 'carousel-section.js' | asset_url }}" defer="defer"></script>

{% style %}
  {% render 'spaced-section' %}
{% endstyle %}

{% assign count = 0 %}
{% for block in section.blocks %}
  {% assign count = count | plus: 1 %}
{% endfor %}

<div
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  class="js-carousel"
>
  <section
    class="container about-section js-about-for-data-get"
    data-speed-slideing="{{ section.settings.slideshow_speed }}"
    data-delay-slideing="{{ section.settings.slideshow_delay }}"
    data-is-autoplay="{{ section.settings.is_autoplay }}"
    data-is-hover-stop-autoplay="{{ section.settings.is_hover_stop_autoplay }}"
    data-count="{{ count }}"
  >
    <div class="about color-background-2">
      <div class="about__left">
        {%- if section.settings.subheading != blank -%}
          <span class="about__cat-tag subtitle">
            {{ section.settings.subheading }}
          </span>
        {%- endif -%}
        <div class="text-carousel swiper">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'about_carousel' -%}
                  <div class="swiper-slide">
                    {%- if block.settings.heading != blank -%}
                      <h2
                        class="about__section-title h2"
                        data-swiper-parallax="-100"
                      >
                        {{ block.settings.heading }}
                      </h2>
                    {%- endif -%}

                    {%- if block.settings.caption != blank -%}
                      <div
                        class="about__section-caption"
                        data-swiper-parallax="-200"
                      >
                        {{ block.settings.caption }}
                      </div>
                    {%- endif -%}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="about__right">
        <div class="about__carousel-cell js-about__carousel-cell">
          <div class="swiper about__carousel js-about__carousel">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'about_carousel' -%}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                      {% if block.settings.about_carousel_image != null %}
                        <img
                          srcset="{{ block.settings.about_carousel_image | image_url: width: 745, height: 516 }} 1x, {{ block.settings.about_carousel_image | image_url: width: 1490, height: 1032 }} 2x, {{ block.settings.about_carousel_image | image_url: width: 2235, height: 1548 }} 3x, {{ block.settings.about_carousel_image | image_url: width: 2980, height: 2064 }} 4x"
                          src="{{ block.settings.about_carousel_image | image_url: width: 745, height: 516 }}"
                          alt="{{ block.settings.about_carousel_image.alt | escape }}"
                          width="{{ block.settings.about_carousel_image.width }}"
                          height="{{ block.settings.about_carousel_image.height }}"
                          sizes="(max-width: 1760px) 633px, (max-width: 1560px) 545px, (max-width: 1360px) 465px, (max-width: 1200px) 376px, (max-width: 990px) 450px, (max-width: 750px) 383px, (max-width: 576px) 445px"
                          loading="lazy"
                        >
                      {% elsif block.settings.about_carousel_image == null %}
                        {{ 'image' | placeholder_svg_tag: 'about__item-empty-svg' }}
                        {% render 'empty-image-about', className: 'about__item-empty-img', width: 745 %}
                      {% endif %}
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
          <div
            class="swiper-pagination about__swiper-pagination js-about__swiper-pagination"
          ></div>
          {% render 'empty-image-about-carcass', className: 'empty-image-about-carcass', width: 896, height: 516 %}
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "t:sections.carousel.name",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "Category Name",
      "label": "t:sections.carousel.settings.subheading.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.slider.optional.label"
    },
    {
      "type": "checkbox",
      "id": "is_autoplay",
      "default": true,
      "label": "t:sections.all.slider.autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "is_hover_stop_autoplay",
      "default": false,
      "label": "t:sections.all.slider.stopping_on_hover.label"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "min": 0,
      "max": 6,
      "step": 0.1,
      "default": 1.1,
      "unit": "s",
      "label": "t:sections.all.slider.speed.label",
      "info": "t:sections.all.slider.speed.info"
    },
    {
      "type": "range",
      "id": "slideshow_delay",
      "min": 0,
      "max": 8,
      "step": 0.1,
      "default": 4,
      "unit": "s",
      "label": "t:sections.all.slider.delay.label",
      "info": "t:sections.all.slider.delay.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 170,
      "unit": "px",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "unit": "px",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "about_carousel",
      "name": "t:sections.carousel.blocks.name",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "about_carousel_image",
          "label": "t:sections.carousel.blocks.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.carousel.blocks.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "caption",
          "default": "Additional text",
          "label": "t:sections.carousel.blocks.settings.caption.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.carousel.name",
      "blocks": [
        {
          "type": "about_carousel"
        },
        {
          "type": "about_carousel"
        },
        {
          "type": "about_carousel"
        }
      ]
    }
  ]
}
{% endschema %}
