{% style %}
  .cb__container.section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-{{ section.id }}
  .cb-card {
    display: grid;
    gap: 3em;
  }

  .section-{{ section.id }}
  .cb-card__item > .cb-card__text > * {
    color: #08393f;
  }

  .section-{{ section.id }}
  .cb-card__item--bg {
    background-color: #08393f;
    border-radius: 30px;
    padding: 4em 2em;
  }

  .section-{{ section.id }}
  .cb-card__item--bg .cb-card__block:nth-child(2) {
    border-top: 3px solid #FFF;
  }

  .section-{{ section.id }}
  .cb-card__item--bg > .cb-card__text {
    margin-bottom: 3em;
  }

  .section-{{ section.id }}
  .cb-card__item--bg > .cb-card__text > * {
    color: #80ece1;
  }

  .section-{{ section.id }}
  .cb-card__block {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    column-gap: 1em;
    border-bottom: 3px solid #FFF;
    padding-block: 1.2em;
  }

  .section-{{ section.id }}
  .cb-card__block .cb-card__text  {
    font-size: 16px;
  }

  .section-{{ section.id }}
  .cb-card__block .cb-card__text > * {
    color: #FFF;
  }

  .section-{{ section.id }}
  .cb-card__icon {
    width: 18px;
    height: 18px;
  }

  .section-{{ section.id }}
  .cb-card__svg {
    width: 100%;
    height: 200px;
  }

  .section-{{ section.id }}
  .cb-card__svg svg {
    width: 100%;
    height: 100%;
  }

  .section-{{ section.id }}
  .cb-card__image {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  @media (min-width: 1023px) {
    .section-{{ section.id }} .cb-card {
      grid-template-columns: minmax(200px, 40%) 1fr;
      align-items: center;
    }

    .section-{{ section.id }}
    .cb-card__image {
      width: 100px;
      height: 100px;
    }

    .section-{{ section.id }}
    .cb-card__icon {
      width: 40px;
      height: 40px;
    }

    .section-{{ section.id }}
    .cb-card__block {
      justify-content: start;
      padding-left: 3em;
    }

    .section-{{ section.id }}
    .cb-card__item--bg > .cb-card__text {
      padding-left: 3em;
    }
  }


{% endstyle %}

<div class="cb__container section-{{ section.id }}">
  <div class="cb-card">
    <div class="cb-card__item">
      <div class="cb-card__text">{{ section.settings.left_text }}</div>
    </div>
    <div class="cb-card__item cb-card__item--bg">
      <div class="cb-card__text">{{ section.settings.right_text }}</div>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'block_card' %}
            <div class="cb-card__block">
              <div class="cb-card__icon">
                {% render 'cb-arrow-next' %}
              </div>
              <div>
                {% if block.settings.image == blank %}
                  <div class="cb-card__svg">
                    {{ 'image' | placeholder_svg_tag }}
                  </div>
                {% else %}
                  <img
                    class="cb-card__image"
                    src="{{ block.settings.image | image_url }}"
                    alt="{{ block.settings.image.alt | default: shop.name | escape }}"
                    loading="lazy">
                {% endif %}
              </div>
              <div class="cb-card__text">
                {{ block.settings.text }}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Discover by Codebulls",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section options"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 10,
        "default": 60,
        "unit": "px",
        "label": "Margin top"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 10,
        "default": 60,
        "unit": "px",
        "label": "Margin bottom"
      },
      {
        "type": "header",
        "content": "Text options"
      }, {
        "type": "richtext",
        "id": "left_text",
        "default": "<h2>Text</h2>",
        "label": "Text"
      }, {
        "type": "richtext",
        "id": "right_text",
        "default": "<h2>Text</h2>",
        "label": "Text"
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "block_card",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "richtext",
            "id": "text",
            "default": "<p><b>Nature Guardians:</b> Libera especies y siembra vida en su hogar</p>",
            "label": "Text"
          }
        ]

      }
    ],
    "presets": [
      {
        "name": "Discover by Codebulls",
        "blocks": [
          {
            "type": "block_card"
          }, {
            "type": "block_card"
          }, {
            "type": "block_card"
          }
        ]
      }
    ]
  }
{% endschema %}