{{ 'cb__custom-styles.css' | asset_url | stylesheet_tag }}

{% style %}

    .cb__container.section-id-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        position: relative;
    }

    .section-id-{{ section.id }}.cb__background-image {
        background-image: url({% if section.settings.background_image != blank %}{{ section.settings.background_image | image_url }}{% endif %});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .section-{{ section.id }} .placeholder-background {
        background-color: #f4f4f4;
        position: relative;
    }

    .section-{{ section.id }} .placeholder-bg {
        position: absolute;
        inset: 0;
        opacity: .1;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .section-id-{{ section.id }} .contenedor-child {
        position: relative;
        z-index: 2;
        grid-template-columns: 1fr 1fr;
    }

    .section-id-{{ section.id }} .cb__title-text {
        color: {{ section.settings.title_color }}        
    }

    .section-id-{{ section.id }} .cb__subtitle-text {
        color: {{ section.settings.subtitle_color }}
    }

    .section-id-{{ section.id }} .cb__paragraph-text {
        color: {{ section.settings.paragraph_color }}
    }

    @media (max-width: 500px){
        .section-id-{{ section.id }} .contenedor-child {
                grid-template-columns: auto;
            }
        .section-id-{{ section.id }} .contenido {
            padding-top: 2rem;
        }
    
    }

{% endstyle %}

<div class="cb__container section-id-{{ section.id }} {% if section.settings.background_image == blank %}section-{{ section.id }} placeholder-background {% else %}cb__background-image{% endif %}">

    {% if section.settings.background_image == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-bg' }}
    {% endif %}

    <div class="contenedor-child">
        <div class="imagen">
            {% if section.settings.image == blank %}
                {{ 'image' | placeholder_svg_tag }}
            {% else %}
                <img src="{{ section.settings.image | image_url }}" />
            {% endif %}
        </div>
        <div class="contenido">
            <h1 class="cb__title-text">{{ section.settings.title }}</h1>
            <p class="cb__subtitle-text">{{ section.settings.subtitle }}</p>
            <p class="cb__paragraph-text">{{ section.settings.paragraph }}</p>

            <div {% if section.settings.button_label_1 == blank and section.settings.button_label_2 == blank %}style="margin-top: 0;"{% endif %} class="cb__button-container {% if section.settings.block_buttons %}cb__block-buttons{% endif %}">
                <a class="cb__primary-button" href="{{ section.settings.button_link_1 }}"
                  {% if section.settings.new_tab_1 != false %}
                target="_blank"
              {% endif %}>
                  {{ section.settings.button_label_1 }}
                </a>
                <a class="cb__primary-button" href="{{ section.settings.button_link_2 }}"
                   {% if section.settings.new_tab_2 != false %}
                target="_blank"
              {% endif %}>{{ section.settings.button_label_2 }}</a>
            </div>
        </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "Fullwidth Image Section",
      "tag": "section",
            "settings": [
                {
                    "type": "header",
                    "content": "Section options"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 200,
                    "step": 10,
                    "default": 60,
                    "unit": "px",
                    "label": "t:sections.all.section-padding.padding_top.label"
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 200,
                    "step": 10,
                    "default": 60,
                    "unit": "px",
                    "label": "t:sections.all.section-padding.padding_bottom.label"
                },
                {
                    "type": "image_picker",
                    "id": "background_image",
                    "label": "Background Image"
                },
                {
                    "type": "header",
                    "content": "Text options"
                },
                {
                    "type": "text",
                    "id": "title",
                    "default": "Heading",
                    "label": "Title"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title color",
                    "default": "#000"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "default": "Subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "color",
                    "id": "subtitle_color",
                    "label": "Subtitle color",
                    "default": "#000"
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "default": "Some description",
                    "label": "Paragraph"
                },
                {
                    "type": "color",
                    "id": "paragraph_color",
                    "label": "Paragraph color",
                    "default": "#000"
                },
                {
                    "type": "header",
                    "content": "Image options"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Button options"
                },
                {
                    "type": "checkbox",
                    "default": false,
                    "id": "block_buttons",
                    "label": "Block buttons"
                },
                {
                    "type": "text",
                    "id": "button_label_1",
                    "default": "Button label",
                    "label": "t:sections.all.button.button_text.label"
                },
                {
                    "type": "url",
                    "id": "button_link_1",
                    "label": "t:sections.all.button.button_link.label"
                },
                {
                  "type": "checkbox",
                  "id": "new_tab_1",
                  "label": "Open link in new tab",
                  "default": false
                },
                {
                    "type": "text",
                    "id": "button_label_2",
                    "default": "Button label",
                    "label": "t:sections.all.button.button_text.label"
                },
                {
                    "type": "url",
                    "id": "button_link_2",
                    "label": "t:sections.all.button.button_link.label"
                },
                {
                  "type": "checkbox",
                  "id": "new_tab_2",
                  "label": "Open link in new tab",
                  "default": false
                }
            ],
      "presets": [
        {   
          "name": "Fullwidth Image by Codebulls"
        }
      ]
    }
    {% endschema %}