{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{% style %}
	{% render 'spaced-section' %}
{% endstyle %}

<section class="blog">
	<div class="container">
		<div class="blog__wrap blog__wrap--{{ section.settings.post_layout }} {% if section.settings.border_top %}blog__border--top{% endif %} {% if section.settings.border_bottom %}blog__border--bottom{% endif %}">
			{%- if section.settings.heading != blank
				or section.settings.blog_title != blank
				or section.settings.show_view_all
			-%}
				<div class="blog__header blog__header--{{ section.settings.post_layout }}">
					<div class="blog__left">
						<div class="title-wrapper">
							{%- if section.settings.heading != blank -%}
								<div class="blog__subtitle subtitle">
									{{ section.settings.heading }}
								</div>
							{%- endif -%}
							{%- if section.settings.blog_title != blank -%}
								<h2 class="blog__title">{{ section.settings.blog_title }}</h2>
							{%- endif -%}
						</div>
					</div>
					{%- if section.settings.show_view_all
						and section.settings.post_limit
							< section.settings.blog.articles_count
					-%}
						<div class="blog__right">
							<a
								class="blog__btn button button--primary"
								href="{{ section.settings.blog.url }}"
							>
								<span>{{- 'sections.featured_blog.view_all' | t -}}</span>
								{% render 'icon-button-arrow' %}
							</a>
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}

			<div class="blog__articles blog__articles--{{ section.settings.post_layout }}">
				{%- if section.settings.blog != blank
					and section.settings.blog.articles_count > 0
				-%}
					{%- for article in section.settings.blog.articles
						limit: section.settings.post_limit
					-%}
						{% render 'article-card',
							blog: section.settings.blog,
							article: article,
							show_image: section.settings.show_image,
							show_tags: section.settings.show_tags,
							show_date: section.settings.show_date,
							show_author: section.settings.show_author,
							show_excerpt: section.settings.show_excerpt
						%}
					{%- endfor -%}
				{%- else -%}
					{% for i in (1..3) %}
						<article class="article">
							<div class="article__item">
								<a class="article__img" href="javascript:;" aria-label="link">
									{{
										'lifestyle-1'
										| placeholder_svg_tag: 'placeholder-svg placeholder'
									}}
								</a>
								<div class="article__content">
									<h4 class="article__title">
										<a href="javasccript:;">
											{{- 'sections.featured_blog.onboarding_title' | t -}}
										</a>
									</h4>
									<p class="article__excerpt">
										{{ 'sections.featured_blog.onboarding_content' | t }}
									</p>
								</div>
							</div>
						</article>
					{% endfor %}
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "t:sections.featured-blog.name",
	"tag": "section",
	"class": "section-featured-blog",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "post_layout",
			"options": [
				{
					"value": "row",
					"label": "t:sections.featured-blog.settings.post_layout.options__1.label"
				},
				{
					"value": "column",
					"label": "t:sections.featured-blog.settings.post_layout.options__2.label"
				}
			],
			"default": "row",
			"label": "t:sections.featured-blog.settings.post_layout.label"
		},
		{
			"type": "text",
			"id": "heading",
			"default": "Latest Articles",
			"label": "t:sections.featured-blog.settings.heading.label"
		},
		{
			"type": "textarea",
			"id": "blog_title",
			"default": "Some description",
			"label": "t:sections.featured-blog.settings.blog_title.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-blog.settings.blog_heading.label"
		},
		{
			"type": "blog",
			"id": "blog",
			"label": "t:sections.featured-blog.settings.blog.label"
		},
		{
			"type": "range",
			"id": "post_limit",
			"min": 1,
			"max": 9,
			"step": 1,
			"default": 3,
			"label": "t:sections.featured-blog.settings.post_limit.label"
		},
		{
			"type": "checkbox",
			"id": "show_image",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_image.label",
			"info": "t:sections.featured-blog.settings.show_image.info"
		},
		{
			"type": "checkbox",
			"id": "show_tags",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_tags.label"
		},
		{
			"type": "checkbox",
			"id": "show_date",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_date.label"
		},
		{
			"type": "checkbox",
			"id": "show_author",
			"default": false,
			"label": "t:sections.featured-blog.settings.show_author.label"
		},
		{
			"type": "checkbox",
			"id": "show_excerpt",
			"default": false,
			"label": "t:sections.featured-blog.settings.show_excerpt.label"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.featured-blog.settings.show_view_all.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-border.header.content"
		},
		{
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.all.section-border.border_top.label"
		},
		{
			"type": "checkbox",
			"id": "border_bottom",
			"default": false,
			"label": "t:sections.all.section-border.border_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 170,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.featured-blog.presets.name",
			"settings": {
				"blog": "News"
			}
		}
	]
}
{% endschema %}
