{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
	<div class="container">
		<div class="page-header">
			<div class="page-header__inner">
				<div class="page-header-top customer__top">
					<h1 class="main-page-title page-title title--page">
						{{ 'customer.account.title_1' | t }}
						<span>{{ 'customer.account.title_2' | t }}</span>
					</h1>
					<a class="title-link" href="{{ routes.account_logout_url }}">
						{{ 'customer.log_out' | t }}
					</a>
				</div>
			</div>
		</div>

		<div class="account-row row">
			<div class="account-left">
				<h2 class="h4">{{ 'customer.orders.title' | t }}</h2>

				{% paginate customer.orders by 20 %}
					{%- if customer.orders.size > 0 -%}
						<div class="order-table">
							<div class="visually-hidden">
								{{ 'customer.orders.title' | t }}
							</div>
							<div class="row thead">
								<div id="ColumnOrder">
									{{ 'customer.orders.order_number' | t }}
								</div>
								<div id="ColumnDate">{{ 'customer.orders.date' | t }}</div>
								<div id="ColumnPayment">
									{{ 'customer.orders.payment_status' | t }}
								</div>
								<div id="ColumnFulfillment">
									{{ 'customer.orders.fulfillment_status' | t }}
								</div>
								<div id="ColumnTotal">{{ 'customer.orders.total' | t }}</div>
							</div>
							{%- for order in customer.orders -%}
								<a
									class="row tbody"
									href="{{ order.customer_url }}"
									aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
								>
									<span
										id="RowOrder"
										data-label="{{ 'customer.orders.order_number' | t }}"
									>
										{{ order.name }}
									</span>
									<span data-label="{{ 'customer.orders.date' | t }}">
										{{ order.created_at | time_tag: format: 'date' }}
									</span>
									<span data-label="{{ 'customer.orders.payment_status' | t }}">
										{{ order.financial_status_label }}
									</span>
									<span data-label="{{ 'customer.orders.fulfillment_status' | t }}">
										{{ order.fulfillment_status_label }}
									</span>
									<span
										class="orders-total"
										data-label="{{ 'customer.orders.total' | t }}"
									>
										{{ order.total_price | money_with_currency }}
									</span>
								</a>
							{%- endfor -%}
						</div>
					{%- else -%}
						<div class="account-none account-none-order">
							{% render 'icon-account-order-none' %}
							<p class="account-none-text">{{ 'customer.orders.none' | t }}</p>
							<a
								href="{{ routes.collections_url | sort_by: 'best-selling' }}"
								class="button button--primary account-none-button"
							>
								<span>
									{{ 'customer.account.account_button_shop' | t }}
								</span>
								{% render 'icon-button-arrow' %}
							</a>
						</div>
					{%- endif -%}

					{%- if paginate.pages > 1 -%}
						{%- if paginate.parts.size > 0 -%}
							<nav
								class="pagination"
								role="navigation"
								aria-label="{{ 'general.pagination.label' | t }}"
							>
								<ul role="list">
									{%- if paginate.previous -%}
										<li>
											<a
												href="{{ paginate.previous.url }}"
												aria-label="{{ 'general.pagination.previous' | t }}"
											>
												<svg
													aria-hidden="true"
													focusable="false"
													viewBox="0 0 10 6"
												>
													<path clip-rule = "evenodd" d = "M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill = "currentColor" fill-rule = "evenodd">
												</svg>
											</a>
										</li>
									{%- endif -%}

									{%- for part in paginate.parts -%}
										<li>
											{%- if part.is_link -%}
												<a
													href="{{ part.url }}"
													aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
												>
													{{- part.title -}}
												</a>
											{%- else -%}
												{%- if part.title == paginate.current_page -%}
													<span
														aria-current="page"
														aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
													>
														{{- part.title -}}
													</span>
												{%- else -%}
													<span>{{ part.title }}</span>
												{%- endif -%}
											{%- endif -%}
										</li>
									{%- endfor -%}

									{%- if paginate.next -%}
										<li>
											<a
												href="{{ paginate.next.url }}"
												aria-label="{{ 'general.pagination.next' | t }}"
											>
												<svg
													aria-hidden="true"
													focusable="false"
													viewBox="0 0 10 6"
												>
													<path fill-rule = "evenodd" clip-rule = "evenodd" d = "M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill = "currentColor">
												</svg>
											</a>
										</li>
									{%- endif -%}
								</ul>
							</nav>
						{%- endif -%}
					{%- endif -%}
				{% endpaginate %}
			</div>
			<div class="account-right {% if customer.addresses_count  > 0 %} account-right-address {%- else -%} account-none-border {% endif %}">
				<h2 class="h4">{{ 'customer.account.details' | t }}</h2>
				{%- if customer.addresses_count > 0 -%}
					<div class="customer-address__list-wrapper">
						<ul class="customer-address__list customer-address__default">
							{%- if customer.default_address.name != blank -%}
								<li class="customer-address__item customer-address__item-name">
									{{ customer.default_address.name }}
								</li>
							{%- endif -%}

							{%- if customer.default_address != blank -%}
								<li class="customer-address__item-content">
									{%- if customer.default_address.country != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.country -}}
										</span>
									{%- endif -%}

									{%- if customer.default_address.city != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.city -}}
										</span>
									{%- endif -%}

									{%- if customer.default_address.street != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.street -}}
										</span>
									{%- endif -%}

									{%- if customer.default_address.company != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.company -}}
										</span>
									{%- endif -%}

									{%- if customer.default_address.zip != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.zip -}}
										</span>
									{%- endif -%}

									{%- if customer.default_address.phone != blank -%}
										<span class="customer-address__item">
											{{- customer.default_address.phone -}}
										</span>
									{%- endif -%}
								</li>
							{%- endif -%}
						</ul>
						<a
							class="button button--primary customer-address__link"
							href="{{ routes.account_addresses_url }}"
						>
							<span>
								{{ 'customer.account.view_addresses' | t }}
								({{ customer.addresses_count }})
							</span>
							{% render 'icon-button-arrow' %}
						</a>
					</div>
				{%- else -%}
					<div class="account-none account-none-address">
						{% render 'icon-account-address-none' %}
						<p class="account-none-text">{{ 'customer.addresses.none' | t }}</p>
						<a
							href="{{ routes.account_addresses_url }}"
							class="button button--primary account-none-button account-none-button--big"
						>
							<span>
								{{ 'customer.addresses.add_new' | t }}
							</span>
							{% render 'icon-button-arrow' %}
						</a>
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.main-account.name"
}
{% endschema %}
