{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}

	.rich-text {
		text-align: center;
	}
{%- endstyle -%}

<div class="rich-text{% if section.settings.full_width %} rich-text--full-width{% endif %} color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
	<div class="rich-text__blocks">
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when 'subheading' -%}
					<div
						class="rich-text__subheading subtitle"
						{{ block.shopify_attributes }}
					>
						{{ block.settings.subheading | escape }}
					</div>
				{%- when 'heading' -%}
					<h2
						class="title--section {% if block.settings.heading_size == 'medium' %}h2{% else %}h1{% endif %}"
						{{ block.shopify_attributes }}
					>
						{{ block.settings.heading }}
					</h2>
				{%- when 'text' -%}
					<div class="rich-text__text" {{ block.shopify_attributes }}>
						{{ block.settings.text }}
					</div>
				{%- when 'button' -%}
					<a
						{% if block.settings.button_link == blank %}
							aria-disabled="true"
						{% else %}
							href="{{ block.settings.button_link }}"
						{% endif %}
						class="button button--primary-size button--{{- block.settings.button_style -}}"
						{{ block.shopify_attributes }}
    					{% if block.settings.new_tab != false %}
                          target="_blank"
                        {% endif %}>
						<span>{{ block.settings.button_label | escape }}</span>
						{% render 'icon-button-arrow' %}
					</a>
			{%- endcase -%}
		{%- endfor -%}
	</div>
</div>

{% schema %}
{
	"name": "t:sections.rich-text.name",
	"tag": "section",
	"class": "spaced-section--full-width",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "background-1",
					"label": "t:sections.rich-text.settings.color_scheme.options__1.label"
				},
				{
					"value": "background-3",
					"label": "t:sections.rich-text.settings.color_scheme.options__2.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.rich-text.settings.color_scheme.label"
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.rich-text.settings.full_width.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 170,
			"unit": "px",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 170,
			"unit": "px",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 170,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "subheading",
			"name": "t:sections.rich-text.blocks.subheading.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "subheading",
					"default": "Subheading",
					"label": "t:sections.rich-text.blocks.heading.settings.heading.label"
				}
			]
		},
		{
			"type": "heading",
			"name": "t:sections.rich-text.blocks.heading.name",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "heading",
					"default": "<p>Heading for your section</p>",
					"label": "t:sections.rich-text.blocks.heading.settings.heading.label"
				},
				{
					"type": "select",
					"id": "heading_size",
					"options": [
						{
							"value": "medium",
							"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
						},
						{
							"value": "large",
							"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
						}
					],
					"default": "medium",
					"label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
				}
			]
		},
		{
			"type": "text",
			"name": "t:sections.rich-text.blocks.text.name",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Description for your section.</p>",
					"label": "t:sections.rich-text.blocks.text.settings.text.label"
				}
			]
		},
		{
			"type": "button",
			"name": "t:sections.rich-text.blocks.button.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "button_label",
					"default": "Button label",
					"label": "t:sections.all.button.button_text.label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:sections.all.button.button_link.label"
				},
                {
                  "type": "checkbox",
                  "id": "new_tab",
                  "label": "Open link in new tab",
                  "default": false
                },
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.rich-text.presets.name",
			"blocks": [
				{
					"type": "subheading"
				},
				{
					"type": "heading"
				},
				{
					"type": "text"
				},
				{
					"type": "button"
				}
			]
		}
	]
}
{% endschema %}
